<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Azen - Administrators Dashboard</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" th:href="@{assets/css/app.min.css}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{assets/css/styles.css}">
    <link rel="stylesheet" th:href="@{assets/css/components.css}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" th:href="@{assets/css/custom.css}">
    <link rel="stylesheet" th:href="@{assets/css/element.css}">
    <link rel="icon" th:href="@{assets/img/favicon.ico}" type="image/png">
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar sticky">
            <div class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
                    <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                        <i data-feather="maximize"></i>
                    </a></li>
                </ul>
            </div>
        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="index.html"> <img alt="image" src="assets/img/logo.png" class="header-logo"/> <span
                            class="logo-name">Azen</span>
                    </a>
                </div>
                <ul class="sidebar-menu">
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                data-feather="monitor"></i><span>Dashboard</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/index}">Azen Dashboard</a></li>
                            <li><a class="nav-link" th:href="@{/administrator}">Administrator</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                data-feather="user-check"></i><span>Auth</span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a class="nav-link" th:href="@{/userManagement}">User Management</a></li>
                            <li><a class="nav-link" th:href="@{/orderManagement}">Order Management</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="menu-toggle nav-link has-dropdown"><i
                                data-feather="briefcase"></i><span>Commodity</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" th:href="@{/commodityManagement}">Commodity Management</a></li>
                        </ul>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- Main Content -->
        <div class="main-content" id="appvue">
            <section class="section">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">User Management</h4>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{/index}">
                            <i class="fas fa-home"></i></a>
                    </li>
                    <li class="breadcrumb-item active">User Management</li>
                </ul>
                <usershow></usershow>
            </section>
            <div class="settingSidebar">
                <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
                </a>
                <div class="settingSidebar-body ps-container ps-theme-default">
                    <div class=" fade show active">
                        <div class="setting-panel-header">Setting Panel
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Select Layout</h6>
                            <div class="selectgroup layout-color w-50">
                                <label class="selectgroup-item">
                                    <input type="radio" name="value" value="1"
                                           class="selectgroup-input-radio select-layout" checked>
                                    <span class="selectgroup-button">Light</span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="value" value="2"
                                           class="selectgroup-input-radio select-layout">
                                    <span class="selectgroup-button">Dark</span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Sidebar Color</h6>
                            <div class="selectgroup selectgroup-pills sidebar-color">
                                <label class="selectgroup-item">
                                    <input type="radio" name="icon-input" value="1"
                                           class="selectgroup-input select-sidebar">
                                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                          data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                                </label>
                                <label class="selectgroup-item">
                                    <input type="radio" name="icon-input" value="2"
                                           class="selectgroup-input select-sidebar" checked>
                                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                                          data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <h6 class="font-medium m-b-10">Color Theme</h6>
                            <div class="theme-setting-options">
                                <ul class="choose-theme list-unstyled mb-0">
                                    <li title="white" class="active">
                                        <div class="white"></div>
                                    </li>
                                    <li title="cyan">
                                        <div class="cyan"></div>
                                    </li>
                                    <li title="black">
                                        <div class="black"></div>
                                    </li>
                                    <li title="purple">
                                        <div class="purple"></div>
                                    </li>
                                    <li title="orange">
                                        <div class="orange"></div>
                                    </li>
                                    <li title="green">
                                        <div class="green"></div>
                                    </li>
                                    <li title="red">
                                        <div class="red"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <div class="theme-setting-options">
                                <label class="m-b-0">
                                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                           id="mini_sidebar_setting">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="control-label p-l-10">Mini Sidebar</span>
                                </label>
                            </div>
                        </div>
                        <div class="p-15 border-bottom">
                            <div class="theme-setting-options">
                                <label class="m-b-0">
                                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                                           id="sticky_header_setting">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="control-label p-l-10">Sticky Header</span>
                                </label>
                            </div>
                        </div>
                        <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                            <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                                <i class="fas fa-undo"></i> Restore Default
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- General JS Scripts -->
<script th:src="@{assets/js/app.min.js}"></script>
<!-- Template JS File -->
<script th:src="@{assets/js/scripts.js}"></script>
<!-- Custom JS File -->
<script th:src="@{assets/js/custom.js}"></script>
<script th:src="@{assets/js/vue.js}"></script>
<script th:src="@{assets/js/element.js}"></script>
<script th:src="@{assets/js/axios.js}"></script>
<script th:src="@{assets/js/dataParse.js}"></script>
<template id="usershow">
    <div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>User List</h4>
                        <div class="card-header-form">
                            <form>
                                <div class="btn-group">
                                    <input type="text" class="form-control" placeholder="Search" v-model="search">
                                    <button type="button" class="btn btn-primary"
                                            @click="userPageInFo(currentPage)"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>用户账号名</th>
                                    <th>用户电话</th>
                                    <th>用户邮箱</th>
                                    <th>用户状态</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tr v-if="userListInFo.length > 0" v-for="(item,index) in userListInFo">
                                    <td>{{item.uname}}</td>
                                    <td>{{item.uphone}}</td>
                                    <td>{{item.uemail}}</td>
                                    <td>{{statueUser(item.ustatue)}}</td>
                                    <td>
                                        <a data-toggle="tooltip" title="解冻" data-placement="top"><i
                                                class="fas fa-check"
                                                @click="userUpdateForJie(index)"></i></a>
                                        <a data-toggle="tooltip" title="冻结" data-placement="top"><i
                                                class="fas fa-times" @click="userUpdateForDong(index)"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <el-pagination
                                layout="prev, pager, next"
                                :total="total"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                v-if="total >= 7"
                                style="float: left">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    const usershow = {
        template: "#usershow",
        data() {
            return {
                userListInFo: [],
                currentPage: 1,// 当前页码
                pageSize: 10,// 每页大小
                total: 1,
                search: ''
            }
        },
        methods: {
            userPageInFo(pageNumber) {
                axios({
                    method: "post",
                    url: "/userListInFos",
                    transformRequest: [
                        function (data) {
                            return parseParams(data);
                        }
                    ],
                    data: {
                        pageNumber: pageNumber,
                        name: this.jiaoyan(this.search)
                    }
                }).then((response) => {
                    this.userListInFo = response.data.list;
                    this.currentPage = response.data.pageNum;
                    this.pageSize = response.data.pageSize;
                    this.total = response.data.total;
                })
            },
            jiaoyan(search) {
                if (search === '' && search === undefined) {
                    return '';
                } else {
                    return search;
                }
            },
            statueUser(data) {
                if (data === 1) {
                    return "正常";
                } else {
                    return "冻结";
                }
            },
            handleSizeChange(val) {
                this.userPageInFo(val);
            },
            handleCurrentChange(val) {
                this.userPageInFo(val);
            },
            userUpdateForJie(index) {
                axios({
                    method: "post",
                    url: "/userUpdateForJie",
                    transformRequest: [
                        function (data) {
                            return parseParams(data);
                        }
                    ],
                    data: {
                        id: this.userListInFo[index].uid
                    }
                }).then((response) => {
                    if (response.data) {
                        this.userPageInFo(this.currentPage);
                        this.$notify({
                            title: '解冻成功',
                            message: '该用户账号已被解冻！',
                            position: 'bottom-right'
                        });
                    } else {
                        this.$notify({
                            title: '解冻失败',
                            message: '该用户账号解冻失败，请稍后重试！',
                            position: 'bottom-right'
                        });
                    }
                })
            },
            userUpdateForDong(index) {
                axios({
                    method: "post",
                    url: "/userUpdateForDong",
                    transformRequest: [
                        function (data) {
                            return parseParams(data);
                        }
                    ],
                    data: {
                        id: this.userListInFo[index].uid
                    }
                }).then((response) => {
                    if (response.data) {
                        this.userPageInFo(this.currentPage);
                        this.$notify({
                            title: '冻结成功',
                            message: '该用户账号已被冻结！',
                            position: 'bottom-right'
                        });
                    } else {
                        this.$notify({
                            title: '冻结失败',
                            message: '该用户账号冻结失败，请稍后重试！',
                            position: 'bottom-right'
                        });
                    }
                })
            }
        },
        mounted() {
            this.userPageInFo(1);
        },
    };

    const appvue = new Vue({
        el: "#appvue",
        components: {usershow}
    })
</script>
</body>

</html>