<!DOCTYPE html>
<html lang="en-US" class=" yes-js js_active js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.theme.default.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/settings.css}">
    <link rel="stylesheet" type="text/css" th:href="@{assets/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css}">
    <link rel="stylesheet" th:href="@{assets/css/element.css}">
    <link rel="icon" th:href="@{images/favicon.png}" type="image/png">
    <title>Cart</title>
</head>
<body>
<div class=" wrapper-container boxed-area">
    <!--header-->
    <div class="container container-box-header1">
        <header id="masthead" class="site-header">
            <div class="header-hp-1 style-header-hp-1 affix">
                <div id="js-navbar-fixed" class="menu-desktop">
                    <div class="menu-desktop-inner">
                        <!-- Logo -->
                        <div class="menu-mobile-effect hamburger hamburger--spin">
                            <div class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </div>
                        </div>
                        <div class="logo">
                            <a href="index.html" title="azen" rel="home">
                                <img src="images/Logo.png" alt="azen.physcode.com">
                            </a>
                        </div>
                        <div class="space-header"></div>
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <ul class="navmenu">
                                <li class="menu-item menu-item-has-children">
                                    <a th:href="@{/index}">Home</a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a th:href="@{/login}">Account</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a th:href="@{/login}">Login/Register</a>
                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{/information}">Information</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a th:href="@{/shop}" class="active">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a th:href="@{/shop}">Shopping</a>
                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{/wishlist}">Wishlist</a>
                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{/cart}">Cart</a>
                                        </li>
                                        <li class="menu-item">
                                            <a th:href="@{/orderIF}">Order</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a th:href="@{/contact}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- Header Right -->
                        <div class="header-right">
                            <div class="header-wishlist">
                                <a th:href="@{/wishlist}"><i class="fa fa-heart"></i></a>
                            </div>
                            <div class="woocommerce widget_shopping_cart">
                                <div class="minicart_hover" id="header-mini-cart">
                                    <a class="cart-items-number" th:href="@{/cart}"><i class="icon-bag"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <!--end header-->

    <div class="site page-content">
        <div class="breadcrumb-contact-us breadcrumb-section section-box">
            <div class="container breadcrumb-inner">
                <div class="breadcrumbs-wrapper">
                    <ul class="phys-breadcrumb">
                        <li><a th:href="@{/index}" class="home">Home</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-area" id="app">
            <div class="container">
                <div class="row">
                    <div class="site-main col-sm-12 full-width">
                        <gwc></gwc>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #content -->
</div>
<!--footer-->
<div id="wrapper-footer" class="wrapper-footer">
    <div class="container">
        <div class="row">
            <aside class="col-md-4">
                <div class="textwidget"><p><a href="#"><img
                        class="alignnone size-full wp-image-100"
                        src="images/Logo-white.png" alt=""></a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut
                        labore et dolore magna aliqua.</p>
                    <div class="socials"><a href="javascript:void(0)">FACEBOOK</a>&nbsp;&nbsp; <a
                            href="javascript:void(0)">TWITTER</a>&nbsp;&nbsp; <a
                            href="javascript:void(0)">INSTAGRAM</a></div>
                </div>
            </aside>
            <aside class="col-md-4 text-footer">
                <h3 class="widget-title">INFO</h3>
                <div class="textwidget">
                    <ul>
                        <li><i class="zmdi zmdi-home"></i> 999 xxxxx xxxxx , xxxxx , xxxxx
                        </li>
                        <li><i class="zmdi zmdi-phone"></i> +9-999-999-999
                        </li>
                        <li><i class="zmdi zmdi-email"></i> Azenfashion@999.com
                        </li>
                        <li><i class="zmdi zmdi-time"></i> Monday - Saturday: 8:00 am - 18:00 pm
                            <p class="footer-sunday">
                                &nbsp;&nbsp;&nbsp;Sunday : Closed
                            </p>
                        </li>
                    </ul>
                </div>
            </aside>
            <aside class="col-md-4 text-footer">
                <h3 class="widget-title">INSTAGRAM</h3>
                <div class="textwidget">
                    <div id="sb_instagram" class="sbi sbi_col_4  sbi_width_resp sbi_small">
                        <a href="javascript:void(0)"><img src="images/instagram/picter1.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter2.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter3.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter4.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter5.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter6.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter7.png" alt=""></a>
                        <a href="javascript:void(0)"><img src="images/instagram/picter8.jpg" alt=""></a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<!--end footer-->
<span class="footer__arrow-top" style="bottom: 30px;">TOP</span>
<script th:src="@{assets/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/js/flexslider.js}"></script>
<script th:src="@{assets/js/slick.min.js}"></script>
<script th:src="@{assets/js/owl.carousel.js}"></script>
<script th:src="@{assets/js/jquery.themepunch.tools.min.js}"></script>
<script th:src="@{assets/js/jquery.themepunch.revolution.min.js}"></script>
<script th:src="@{assets/js/theme.js}"></script>
<script th:src="@{assets/js/vue.js}"></script>
<script th:src="@{assets/js/element.js}"></script>
<script th:src="@{assets/js/axios.js}"></script>
<script th:src="@{assets/js/dataParse.js}"></script>
<template id="gwc">
    <div class="entry-content">
        <div class="woocommerce">
            <form class="woocommerce-cart-form">
                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                    <thead>
                    <tr>
                        <th class="product-remove">&nbsp;</th>
                        <th class="product-thumbnail">&nbsp;</th>
                        <th class="product-name">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="woocommerce-cart-form__cart-item cart_item" v-if="gwcInFo.length > 0 "
                        v-for="(item,index) in gwcInFo">
                        <td class="product-remove">
                            <a href="javascript:void(0)" class="remove" @click="deleteCarForCId(index)">×</a></td>
                        <td class="product-thumbnail">
                            <a href="javascript:void(0)">
                                <img :src="item.commodity.coImage"
                                     class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                     alt="">
                            </a>
                        </td>
                        <td class="product-name" data-title="Product">
                            <a href="javascript:void(0)">{{item.commodity.coName}}</a>
                        </td>
                        <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount"><span
                                                            class="woocommerce-Price-currencySymbol"></span>{{item.commodity.coPrice | showPrice}}</span>
                        </td>
                        <td class="product-quantity" data-title="Quantity">
                            <div class="btn-group">
                                <el-input-number v-model="item.cnum" @change="handleChange($event,index)" :min="1"
                                                 label="选购数量"></el-input-number>
                            </div>
                        </td>
                        <td class="product-subtotal" data-title="Subtotal">
                                                    <span class="woocommerce-Price-amount amount"><span
                                                            class="woocommerce-Price-currencySymbol"></span>{{item.commodity.coPrice * item.cnum | showPrice}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <el-pagination
                    layout="prev, pager, next"
                    :total="total"
                    :current-page="currentPage"
                    :page-size="pageSize"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    v-if="total >= 6"
            >
            </el-pagination>
            <div class="cart-collaterals">
                <div class="cart_totals ">
                    <h2>Cart totals</h2>
                    <table class="shop_table shop_table_responsive">
                        <tbody>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            <td data-title="Subtotal"><span
                                    class="woocommerce-Price-amount amount">{{gwczje | showPrice}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="wc-proceed-to-checkout">
                        <a href="javascript:void(0)"
                           class="checkout-button button alt wc-forward" @click="checkOut()">
                            Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    const gwc = {
        template: "#gwc",
        data() {
            return {
                gwcInFo: [],
                currentPage: 1,// 当前页码
                pageSize: 10,// 每页大小
                total: 1,
                gwczje: 0
            };
        },
        methods: {
            handleChange(value, index) {
                axios({
                    method: "post",
                    url: "/updateCar",
                    transformRequest: [
                        function (data) {
                            return parseParams(data);
                        }
                    ],
                    data: {
                        cId: this.gwcInFo[index].cid,
                        cNum: value
                    }
                }).then((response) => {
                    if (response.data) {
                        this.carPageInfo(this.currentPage);
                    } else {
                        this.$notify({
                            title: '增加失败',
                            message: '请稍后重试！',
                            position: 'bottom-right'
                        });
                    }
                })
            },
            carPageInfo(pageNumber) {
                axios({
                    method: "post",
                    url: "/carPageInfo",
                    transformRequest: [
                        function (data) {
                            return parseParams(data);
                        }
                    ],
                    data: {
                        pageNumber: pageNumber,
                    }
                }).then((response) => {
                    this.gwcInFo = response.data.list;
                    this.currentPage = response.data.pageNum;
                    this.pageSize = response.data.pageSize;
                    this.total = response.data.total;
                    this.gwczje = response.data.list.map(function (value) {
                        return value.cnum * value.commodity.coPrice;
                    }).reduce(function (pre, n) {
                        return pre + n;
                    });
                })
            },
            handleSizeChange(val) {
                this.carPageInfo(val);
            },
            handleCurrentChange(val) {
                this.carPageInfo(val);
            },
            deleteCarForCId(index) {
                axios({
                    method: "post",
                    url: "/deleteCarForCId",
                    transformRequest: [
                        function (data) {
                            return parseParams(data);
                        }
                    ],
                    data: {
                        id: this.gwcInFo[index].cid
                    }
                }).then((response) => {
                    if (response.data) {
                        this.carPageInfo(this.currentPage);
                        this.$notify({
                            title: '删除成功',
                            message: '购物车已更新！',
                            position: 'bottom-right'
                        });
                    } else {
                        this.$notify.error({
                            title: '删除失败',
                            message: '宝贝删除失败，请稍后重试！',
                            position: 'bottom-right'
                        });
                    }
                })
            },
            checkOut() {
                sessionStorage.setItem("shoppingCar", JSON.stringify(this.gwcInFo));
                window.location.replace("http://localhost/checkout")
            }
        },
        mounted() {
            this.carPageInfo(1);
        },
        filters: {
            showPrice(price) {
                return "￥" + price.toFixed(2)
            }
        },
    };
    const app = new Vue({
        el: "#app",
        components: {gwc}
    })
</script>
</body>
</html>